h1{
    color: rgb(10%, 20%, 30%);
}
h2{
    color: rgb(49, 163, 239);
}
h3{
    color: rgba(49, 163, 239, 0.5);
}
h3{
    color: aqua;
}
h4{
    color: green;
}
h5{
    color:#30582B;
}
h6{
    color: rgb(53, 131, 44);
}