h1 {
    width: 25%;
    border: 10px dotted rgb(15, 194, 164);
}
div {
    width:50%;
    height:300px;
    background: rgb(177, 14, 14);
    margin:20px 50px;
    padding: 30px;
    border:10px solid rgb(255, 251, 0);
    display: inline-block;
}